/* Variables */

/* Colors */
$main-red: #e40015;
$black: #000;
$white: #fff;
$extra-dark-gray: #232323;
$dark-gray: #626262;
$extra-medium-gray: #757575;
$medium-gray: #939393;
$extra-light-gray: #b7b7b7;
$light-gray: #d6d5d5;
$very-light-gray: #ededed;
